<% @page_title = 'Admin Users' %>

<% content_for :actions do %>
  <%= link_to 'New Admin User', new_admin_admin_user_path %>
<% end %>

<table class='data'>
  <thead>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Email</th>
      <th class='center'>Is Superuser?</th>
      <th class='center'>Is Enabled?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for admin_user in @admin_users %>
      <tr>
        <td><%=h admin_user.login %></td>
        <td><%=h admin_user.name %></td>
        <td><%=h admin_user.email %></td>
        <td class='center'><%= admin_user.is_superuser? ? 'Yes' : 'No' %></td>
        <td class='center'><%= admin_user.is_enabled? ? 'Yes' : 'No' %></td>
        <td class='right' nowrap>
          <%= link_to 'Edit', edit_admin_admin_user_path(admin_user) %>
          |
          <%= link_to 'Destroy', admin_admin_user_path(admin_user), :confirm => "Are you sure you want to destroy '#{admin_user.login}'?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
